.gallerySwiper {
    display: none;
}

.gallery {
    padding-top: 15px;
}

.gallery__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
}

.gallery__item {
    width: calc(100% / 3 - 5px);
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.2);
}

.gallery__item a {
    text-decoration: underline;
    color: #000;
}

.gallery__img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.gallery__content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 10px;
}

.gallery__title {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    max-width: 115px;
}

.gallery__block {
}

.gallery__heading {
    font-size: 10px;
    color: #fff;
}

.gallery__desc {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.gallery__item.big {
    width: calc(40% - 10px);
    margin-right: 10px;
}

.gallery__item.big .gallery__title {
    font-size: 24px;
    max-width: initial;
}

.gallery__item.big .gallery__content {
    padding: 0 25px;
}

.gallery__item.big .gallery__heading {
    font-size: 12px;
}

.gallery__item.big .gallery__desc {
    font-size: 18px;
}

.gallery__works {
    margin-top: 20px;
}

.gallery__works__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1050px) {
    .gallery__desc {
        font-size: 12px;
    }
    .gallery__title {
        max-width: 80px;
    }
}

@media (max-width: 900px) {
    .gallery__item.big .gallery__title {
        font-size: 18px;
    }
}

@media (max-width: 840px) {
    .gallery__item.big {
        width: 80%;
        margin: 0 auto;
    }

    .gallery__list {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 520px) {
    .gallery__list {
        overflow: scroll;
        flex-wrap: nowrap;
    }

    .gallery__item {
        min-width: 110px;
        height: 110px;
        margin-right: 15px;
    }

    .gallery__item.big {
        height: initial;
    }

    .gallery__item.big .gallery__block {
        display: block;
    }
    .gallery__block {
        display: none;
    }
    .gallery__title {
        max-width: 100%;
        font-size: 10px;
    }
    .gallery__content {
        padding: 0 7px 10px;
    }
}

@media (max-width: 400px) {
    .gallery__item.big {
        width: 100%;
    }

    .gallery {
        padding-top: 20px;
    }
}

@media (max-width: 350px) {
    .gallery__item.big .gallery__content {
        padding: 0 15px;
    }
}
