.socialButtons {
    display: flex;
    align-items: center;
    @media screen and(max-width: 768px) {
        justify-content: center;
    }
    & a {
        width: 32px;
        background: #ffffff;
        box-shadow: 0px 4px 30px rgba(49, 23, 100, 0.21);
        border-radius: 5.12px 16px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
