.border-btn {
    margin: auto 0;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 15px 30px;
    border-radius: 25px 8px;
    max-width: 122px;
    width: 100%;
    color: #0e4500;
    font-weight: 400;
    border: none;
    transition: all 0.3s;

    &:hover {
        // transform: scale(1.12);
        background: rgba($color: #fff, $alpha: 0);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: 25px 8px;
        transition: all 0.3s;
        background: linear-gradient(101.52deg, #e1e53c 31.48%, #acd044 74.87%);
    }

    @media (max-width: 950px) {
        padding: 10px;
    }
}
