.categories__item {
    margin-right: 11px;
    margin-bottom: 20px;
    background: linear-gradient(101.52deg, #e1e53c 31.48%, #acd044 74.87%);
    border-radius: 9px 26px;
}

.categories__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 4px 39px rgba(118, 118, 118, 0.2);
    border-radius: 8px 25px;
    font-size: 14px;
    height: 50px;
    padding: 15px 27px 15px 23px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

.categories__btn.mobile {
    display: none;
}

.categories__btn:hover,
.categories__btn.active {
    background: rgba($color: #fff, $alpha: 0);
}

.categories__img {
    margin-right: 16px;
}

@media (max-width: 520px) {
    .categories__btn {
        width: 100%;
        border: none;
        position: relative;
    }

    .categories__btn.mobile {
        display: flex;
    }

    .categories__btn:after {
        content: url("../images/down_arrow.svg");
        position: absolute;
        right: 18px;
    }
}
