.header {
    max-width: 1225px !important;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
}

.header__block {
    display: flex;
    align-items: center;
}

.nav {
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__link {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    position: relative;
}

.nav__link:hover {
    font-weight: 500;
    color: #559958;
}

.nav__link:before {
    content: " ";
    width: 18px;
    height: 100%;
    border-bottom: 1px solid #559958;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;
}

.nav__link:hover:before {
    opacity: 1;
}

.header__buttons {
    display: flex;
}

.header__green-btn {
    border-radius: 25px 8px;
    font-size: 16px;
    color: #0e4500;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
    margin-right: 30px;
    width: 270px;
}

.header__green-btn > img:nth-of-type(1) {
    margin-right: 14px;
}

.header__green-btn > img:nth-of-type(2) {
    margin-left: 14px;
}

.header__br-btn {
}

.burger {
    display: none;
    width: 40px !important;
    height: 40px;
    border-radius: 17px 9px !important;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
}

.burger:before {
    border-radius: 17px 9px !important;
}

.burger span {
    width: 12px;
    height: 2px;
    background: #0e4500;
    position: relative;
    margin-left: 5px;
}

.burger:hover {
    transform: none !important;
}

.burger span:before,
.burger span:after {
    content: "";
    position: absolute;
    background: #0e4500;
    height: 100%;
    width: calc(100% + 4px);
    right: 0;
    transition: all 0.3s;
}

.burger span:before {
    top: -5px;
}

.burger span:after {
    bottom: -5px;
}

.burger.close {
    z-index: 3;
}
.burger.close span {
    background: transparent;
    width: 20px;
}

.burger.close span {
    margin-left: 0;
}

.burger.close span:before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}
.burger.close span:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

@media (max-width: 1230px) {
    .header {
        padding: 0 20px;
    }
}

@media (max-width: 1090px) {
    .nav__item,
    .header__green-btn {
        margin-right: 15px;
    }
}

@media (max-width: 1020px) {
    .nav__link {
        font-size: 12px;
    }
}

@media (max-width: 950px) {
    .nav,
    .header__br-btn {
        display: none;
    }
    .header__green-btn {
        width: 220px;
    }
    .burger {
        display: flex;
    }
}

@media (max-width: 520px) {
    .header__buttons {
        align-items: center;
    }

    .header__green-btn {
        height: 40px;
        max-width: 115px;
        font-size: 14px;
        text-align: center;
        padding: 0;
        justify-content: center;
    }

    .header__green-btn img {
        display: none;
    }
}

@media (max-width: 350px) {
    .header {
        height: 65px;
    }

    .header__logo {
        width: 67px;
    }

    .header__logo img {
        width: 100%;
    }
}
