.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    z-index: 2;
    position: fixed;
    width: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 9999999999999999999999;
}

.menu.visible {
    width: 100vw;
    pointer-events: initial;
}

.menu__list {
    list-style: none;
}

.menu__item {
    text-align: center;
    margin-bottom: 10px;
}

.menu__link {
    font-size: 22px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    position: relative;
}

.menu__link:hover {
    font-weight: 500;
    color: #559958;
}

.menu__link:before {
    content: " ";
    width: 18px;
    height: 100%;
    border-bottom: 1px solid #559958;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;
}

.menu__link:hover:before {
    opacity: 1;
}
