.gallery__item.big {
    width: calc(40% - 10px);
    margin-right: 10px;
}

.gallery__item.big .gallery__title {
    font-size: 24px;
    max-width: initial;
}

.gallery__item.big .gallery__content {
    padding: 0 25px;
}

.gallery__item.big .gallery__heading {
    font-size: 12px;
}

.gallery__item.big .gallery__desc {
    font-size: 18px;
}

@media (max-width: 900px) {
    .gallery__item.big .gallery__title {
        font-size: 18px;
    }
}

@media (max-width: 840px) {
    .gallery__item.big {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 520px) {
    .gallery__item.big {
        height: initial;
    }

    .gallery__item.big .gallery__block {
        display: block;
    }
}

@media (max-width: 400px) {
    .gallery__item.big {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .gallery__item.big {
        padding: 0 15px;
    }
}
