.gallery__wrap {
    display: flex;
    justify-content: center;
}
@media (max-width: 520px) {
    .gallery__wrap {
        max-width: 100%;
    }
}
@media (max-width: 840px) {
    .gallery__wrap {
        flex-direction: column;
    }
}
