$lime: #B2D244;
$green: #559958;
$dark_green: #0E4500;
$black:#000000;
$blue:#000A40;
$purple:#311764;
$purple_2:#492B80;
$purple_3:#8161BD;
$gray:#CBCBCB;
$white:#FFF;
$light_blue:#039BE5;
$silver: #F2F2F2;

$gradient_lime_green:linear-gradient(101.52deg, #E1E53C 31.48%, #ACD044 74.87%);
$gradient_blue_purple:linear-gradient(115.43deg, #3CBCE5 21.81%, #6044D0 77.56%);
